<h1>Feeder Cows</h1>

<h4><% @feeder_cows.each do |feeder| %>
  <%= feeder.tag_number %>
  <%= feeder.residence.name %><br />
<% end %>

<% if current_admin %>
  <%= render partial: 'admin/feeder_cows/forms' %>
<% end %></h4>
