<h1 class="dashboard">Dashboard</h1>
<section class="soybean">
  <img class="soybean_pic" src="" alt="a_picture_of_soybeans">
  <h3 class="soybean_title">Soybean Prices API</h3>
  <p class="soybean_content">Something something</p>
</section>
<section class="corn">
  <img class="corn_pic" src="" alt="a_picture_of_corn">
  <h3 class="corn_title">Corn Prices API</h3>
  <p class="corn_content">Something something</p>
</section><section class="cattle">
  <img class="cattle_pic" src="" alt="a_picture_of_moomoo">
  <h3 class="cow_title">Live Cattle Prices API Prices API</h3>
  <p class="cow_content">Something something</p>
</section><section class="forecast">
  <img class="storm_pic" src="" alt="a_picture_of_a_storm">
  <h3 class="forecast_title">Weather_API</h3>
  <p class="forecast_content">Something something</p>
</section>

<section class="tables">
  <article class="updated_cows">
    <h2 class="updated_cow_header">Updated Cow Table</h2>
    <table>
      <colgroup span="5"></colgroup>
        <tr>
          <th>Cow Number</th>
          <th>Description</th>
          <th>Weight</th>
          <th>Lot Number</th>
          <th>Weight % Gain from Arrival</th>
        </tr>
        <tr>
          <td><%#= FeederCow.first.tag_number %></td>
          <td><%#= FeederCow.first.created_at %></td>
          <td><%#= FeederCow.first.feeder_weight.weight %></td>
          <td><%#= FeederCow.first.residences.name %></td>
          <td>5%</td>
        </tr>
        <tr>
          <td><%#= FeederCow.second.tag_number %></td>
          <td><%#= FeederCow.second.created_at %></td>
          <td><%#= FeederCow.second.feeder_weight.weight %></td>
          <td><%#= FeederCow.second.residences.name %></td>
          <td>10%</td>
        </tr>
        <tr>
          <td><%#= FeederCow.third.tag_number %></td>
          <td><%#= FeederCow.third.created_at %></td>
          <td><%#= FeederCow.third.feeder_weight.weight %></td>
          <td><%#= FeederCow.third.residences.name %></td>
          <td>5%</td>
        </tr>
    </table>
  </article>

  <article class="weight_gains">
    <h2 class="weight_gain_header">% of Weight Gain Table</h2>
    <table>
      <colgroup span="5"></colgroup>
        <tr>
          <th>Cow Number</th>
          <th>Description</th>
          <th>Weight</th>
          <th>Lot Number</th>
          <th>Weight % Gain from Arrival</th>
        </tr>
        <tr>
          <td><%#= FeederCow.first.tag_number %></td>
          <td><%#= FeederCow.first.created_at %></td>
          <td><%#= FeederCow.first.feeder_weight.weight %></td>
          <td><%#= FeederCow.first.residences.name %></td>
          <td>5%</td>
        </tr>
        <tr>
          <td><%#= FeederCow.second.tag_number %></td>
          <td><%#= FeederCow.second.created_at %></td>
          <td><%#= FeederCow.second.feeder_weight.weight %></td>
          <td><%#= FeederCow.second.residences.name %></td>
          <td>10%</td>
        </tr>
        <tr>
          <td><%#= FeederCow.third.tag_number %></td>
          <td><%#= FeederCow.third.created_at %></td>
          <td><%#= FeederCow.third.feeder_weight.weight %></td>
          <td><%#= FeederCow.third.residences.name %></td>
          <td>5%</td>
        </tr>
    </table>
  </article>

  <article class="calved_cows">
    <h2 class="calved_cows_header">Calved Cow Table</h2>
    <table>
      <colgroup span="5"></colgroup>
        <tr>
          <th>Cow Number</th>
          <th>Description</th>
          <th>Weight</th>
          <th>Lot Number</th>
          <th>Calving Date</th>
        </tr>
        <tr>
          <td><%#= FeederCow.first.tag_number %></td>
          <td><%#= FeederCow.first.created_at %></td>
          <td><%#= FeederCow.first.feeder_weight.weight %></td>
          <td><%#= FeederCow.first.residences.name %></td>
          <td>5%</td>
        </tr>
        <tr>
          <td><%#= FeederCow.second.tag_number %></td>
          <td><%#= FeederCow.second.created_at %></td>
          <td><%#= FeederCow.second.feeder_weight.weight %></td>
          <td><%#= FeederCow.second.residences.name %></td>
          <td>10%</td>
        </tr>
        <tr>
          <td><%#= FeederCow.third.tag_number %></td>
          <td><%#= FeederCow.third.created_at %></td>
          <td><%#= FeederCow.third.feeder_weight.weight %></td>
          <td><%#= FeederCow.third.residences.name %></td>
          <td>5%</td>
        </tr>
    </table>
  </article>
</section>
