<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Dashboard</h1>

  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="https://thumbs.dreamstime.com/z/agricultural-concept-soybean-dollar-money-heap-soy-beans-banknote-56125238.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Soybean Prices--API</h4>
      <span class="text-muted">##Something to do with a Date##</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="https://thumb1.shutterstock.com/display_pic_with_logo/3141683/507987913/stock-photo-corn-kernels-forming-dollar-symbol-corn-market-corn-kernels-selective-focus-and-shallow-depth-of-507987913.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Corn Prices--API</h4>
      <span class="text-muted">##Something to do with a Date##</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="https://thumbs.dreamstime.com/z/cow-cartoon-character-dollar-sign-d-rendered-illustration-caw-doller-69111027.jpg" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Live Cattle Prices--API</h4>
      <span class="text-muted">##Something to do with a Date##</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img src="http://www.noaa.gov/sites/default/files/styles/crop_394x394/public/thumbnails/image/FocusArea__Weather-02.jpg?itok=fO6wu2A8" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
      <h4>Todays Forecast--API</h4>
      <span class="text-muted">##Something to do with a Date##</span>
    </div>
  </div>

  <h2 class="sub-header">Recently Updated Cows</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Cow Number</th>
          <th>Description</th>
          <th>Weight</th>
          <th>Lot Number</th>
          <th>% Gain From arrival</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1,001</td>
          <td>Lorem</td>
          <td>ipsum</td>
          <td>dolor</td>
          <td>sit</td>
        </tr>
        <tr>
          <td>1,002</td>
          <td>amet</td>
          <td>consectetur</td>
          <td>adipiscing</td>
          <td>elit</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>Integer</td>
          <td>nec</td>
          <td>odio</td>
          <td>Praesent</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
