<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Export</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="">Feeder Cows</a></li>
    <li><a href="">Calving Cows</a></li>
    <li><a href="">2016 Calves</a></li>
    <li><a href="">2017 Calves</a></li>
    <li><a href="">Historic Data</a></li>
  </ul>
</div>
