<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <title>Cletus's Ranch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1 class="logo">Cletus's Ranch</h1>
      <p class="home">Home</p>
      <p class="signup">Signup</p>
      <p class="login">Login</p>
    </header>

    <aside class="side_nav">
      <nav>
        <ul>
          <li><a href="#" class="overview">Overview</a></li>
          <li><a href="#" class="reports">Reports</a></li>
          <li><a href="#" class="analytics">Analytics</a></li>
          <li><a href="#" class="export">Export</a></li>
          <li><a href="#" class="feeder_cows">Feeder Cows</a></li>
          <li><a href="#" class="calving_cows">Calving Cows</a></li>
          <li><a href="#" class="2016_calves">2016 Calves</a></li>
          <li><a href="#" class="2017_calves">2017 Calves</a></li>
          <li><a href="#" class="historic_data">Historic Data</a></li>
        </ul>
      </nav>
    </aside>

    <main>
    <%= yield %>


    </main>

  </body>
</html>
